SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=C360_APP_ROLE
SNOWFLAKE_WAREHOUSE=WH_C360_XS
SNOWFLAKE_DATABASE=CUSTOMER360_V2
SNOWFLAKE_SCHEMA=PUBLIC

REDIS_HOST=your_redis_host
REDIS_PORT=18403
REDIS_PASSWORD=your_db_password
REDIS_SSL=false
REDIS_DB=0
REDIS_KEY_PREFIX=c360
REDIS_CONNECT_TIMEOUT=5
REDIS_SOCKET_TIMEOUT=5
